<div class="card" style="width: 18rem;">
  <img src="/assets/newspapers" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= newspaper.header %></h5>
    <p class="card-text"><%= newspaper.body %></p>
    <a href=<%= newspaper.link %> class="btn btn-primary" target="_blank"> Ver más </a>
  </div>
</div>